.star {
  font-size: 36px;
  color: white;
  align-items: center; 
  justify-content: center;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin: 6px;
  padding: 6px;
}

.bookmarked {
  color: #ffd700;
}

.bookmark-button {
  background-color: black;
  border: none; 
  cursor: pointer; 
  opacity: 0.7;
  border-radius: 50%; 
}

