.small {
  width: clamp(200px, 150px + 5vw, 250px);
  height: clamp(260px, 250px + 5vw, 350px);
}

.large {
  width: clamp(200px, 200px + 5vw, 300px);
  height: clamp(300px, 300px + 5vw, 450px);
}

.movieCard {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  background-color: white;
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;

  img {
    height: 100%;
    width: 100%;
  }

  .movieCard_imgError {
    .imgError-title {
      padding: 4px 16px;
    }
  }
}

.movieCard .movieCard-hoverContent {
  display: none;
  position: absolute;
  bottom: 10px;
  top: 0px;
  right: 0px;
  left: 0px;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

.movieCard:hover {
  transform: scale(105%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.movieCard:hover .movieCard-hoverContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  .hoverContent-year,
  .hoverContent-rating {
    padding: 2px 11px;
    margin: 2px 2px;
    align-self: flex-end;
    background-color: rgb(255, 255, 255);
    color: black;
  }

  .hoverContent-bookmark {
    position: absolute;
    right: 0px;
    top: 6px;
    padding: 2px 10px;
    margin: 2px 2px;
    background-color: transparent;
    color: white;
  }

  .hoverContent-year {
    border-radius: 25px;
  }

  .hoverContent-rating {
    background-color: rgba(58, 0, 0, 1);
    color: white;
    border-radius: 25px;
  }
}
