.small {
  height: 350px;
  width: 250px;
}

.large {
  height: 500px;
  width: 350px;
}

.movieCard {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  background-color: transparent;

  img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
}

.movieCard .movieCard-hoverContent {
  display: none;
  position: absolute;
  bottom: 10px;
  top: 0px;
  right: 0px;
  left: 0px;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

.movieCard:hover {
  transform: scale(105%);
}

.movieCard:hover .movieCard-hoverContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  .hoverContent-year,
  .hoverContent-rating {
    padding: 2px 11px;
    margin: 2px 2px;
    align-self: flex-end;
    background-color: rgb(255, 255, 255);
    color: black;
  }

  .hoverContent-bookmark {
    position: absolute;
    right: 6px;
    top: 6px;
    padding: 2px 10px;
    margin: 2px 2px;
    background-color: transparent;
    color: white;
  }

  .hoverContent-year {
    border-radius: 25px;
  }

  .hoverContent-rating {
    background-color: rgba(58, 0, 0, 1);
    color: white;
    border-radius: 25px;
  }
}

.star {
  font-size: 50px;
  color: white;
}

.bookmarked {
  color: #ffd700;
}
