body {
  font-family: 'Catamaran', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 5%,
    rgba(170, 170, 170, 1) 100%
  );
}
